@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-fundo: #f5ede2;
  --color-borda: #f7f8f9;
  --color-botao: #4d61de;
  --color-sidebar: #0d0bcc;
  --color-texto: #1e232c;
  --color-traco: #6d6d6d;
  --color-input: #888;
  --color-titulos: #262626;
  --color-sucesso: #18c07a;
  --color-semi: #7b89ff;
  --color-input: #f7f8f9;
  --color-eyeinput: #6d6d6d;
  --color-txtplacehorlder: #888;
  --color-auth: #4f4f4f;
  --color-par: #5D5D5D;
  --color-blue-btn: #2120FF;
}
